/**
 * @name ChenYuluoyan-Thin
 * @author 羽迭#1591
 * @version 1.0
 * @description Change the font of discord
 * @source https://github.com/DiscordStyles/ChenYuluoyan-Thin/
 */

/* ----------------------------------------------------------------------- */

/* IMPORT SOURCE CODE */

@import url(https://discordstyles.github.io/discord-ChenYuluoyan-Thin/src/base.css);

/* ----------------------------------------------------------------------- */

/* SETTINGS */

:root {
    --word-spacing: 3px;       /* Word spacing */
    --letter-spacing: 0.25px;  /* Letter Spacing */
    --message-line-spacing: 2; /* Line spacing on messages */
}

/* ----------------------------------------------------------------------- */
